<div id="footer">

    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
    <div style="clear: both;"></div>
    <div style="text-align: center; margin: 10px auto">
        <%- page.adv.bottom %>
    </div>
    <div style="clear: both;"></div>
    <% } %>

    <div class="fullstory-drops recentlyViewedBlock" style="margin: 20px 0; display: none;">
        <div>Вы надавно смотрели:</div>
        <div id="recentlyViewed"></div>
    </div>

    <span class="texto">
        &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.org" target="_blank">CinemaPress&nbsp;ACMS</a>
        Email для связи: <%- page.email %>
    </span>

    <script src="/themes/cersei/public/js/all.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Source Sans Pro']
            }
        });
    </script>
</div>

<%- page.codes.footer %>