<div id="footer">
    <span class="texto">
        <%- page.seo %>
        <br><br>
        © 2016 <a href="https://cinemapress.org" target="_blank">CinemaPress ACMS</a> Email для связи: <%- page.email %>
    </span>

    <script src="/themes/cersei/public/js/all.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Source Sans Pro']
            }
        });
    </script>
</div>

<%- page.codes.footer %>