<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title><%= page.title %></title>

<meta name="description" content="<%= page.description %>"/>

<link rel="shortcut icon" href="/themes/cersei/public/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/themes/cersei/public/css/all.css"/>

<%- page.codes.head %>